In [4]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<front size= "5" color="red">ch02 자료형과 연산자</front>
# 1절 변수
- 파이썬은 변수선언을 위한 과정이 없음. 할당과 동시에 타업이지정되고 값이 할당됨.

## 1.1 변수 할당
- 할당연산자(=)을 이용해서 값을 할당하면 타입이 셋팅
- 파이썬에서의 모든 변수는 객체로 저장

In [14]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는", str (area))

계산된 넓이는 78.5

In [20]:
import numpy as np
area = np.pi * r * r
print("area = " , area)

area =  78.53981633974483

In [24]:
area.is_integer() # are가 integer인지 여부를 반환

False

In [26]:
print('area의 주소 :', id(area)) #id(area) : area변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 1939173350256
area의 타입 : <class 'float'>

In [29]:
area = 5.5
print('area의 주소 :', id(area)) #id(area) : area변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 1939088649968
area의 타입 : <class 'float'>

In [32]:
area = 10
print('area의 주소 :', id(area)) #id(area) : area변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 1939087622672
area의 타입 : <class 'int'>

In [34]:
area = "파이썬"
print('area의 주소 :', id(area)) #id(area) : area변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 1937058690416
area의 타입 : <class 'str'>

## 1.2 변수이름 규칙
- 문자로 시작 (숫자 시작 불가)
- 문자, 수자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나 피한다. 써야한다면 int_식으로 _를 이용
- 파이썬 예약어(for, ...)는 변수이름 사용 불가
- 한글 변수는 꼭 필요시에만 이용

In [36]:
이름 = "홍길동"
print(이름)

홍길동

In [37]:
이름

'홍길동'

In [38]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [42]:
# member.name = "홍길동"
member_name = "홍길동"
member.name = "홍길동"

NameError: name 'member' is not defined

In [43]:
Print = 10 # 대문자로 시작한 변수, 함수명의 변수는 강력비추
print(Print)

10

In [45]:
# 파이썬에서의 숫자 :정수, 실수(소수점), 복소수
i = 3 + 3j # 복소수
type(i)

complex

## 1.3 도움말

In [48]:
help() # help를 빠져나오려면 q입력 / ESC + o : 결과접기/펴기

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [49]:
# 도움말 기능 : shift+tab 키 (탭/탭탭)
print()

In [60]:
def add(x, y):
    '''
    매개변수 2개를 받아 두가지 숫자로 만들어요
    x = 10의 자리수가 됨
    y = 1의 자리수가 됨
    사용법 : add(2, 3) => 23
    '''
    return x*10 + y

In [69]:
add(2, 1)

21

In [70]:
a = add
a(2, 3)

23

## 1.4 다중 변수 할당

In [115]:
a = 10
b = 20

In [117]:
a, b = 10, 20
print(a, b)

10 20

In [118]:
# 다중 변수 할당시 순차적 할당이 아닌, 일괄 동시 할당
a, b = b, a+b
print(a, b)

20 30

# 2절. 화면 입출력(in/out)

In [125]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 문자열로 입력
first = input("첫번째 숫자는?")
print()

첫번째 숫자는?8

In [126]:
second = input('두번째 숫자는?')

두번째 숫자는?2

In [127]:
sum = int(first) + int(second)
print('합:', sum)

합: 10

In [128]:
first = int(input('첫번째 수는?'))
second = int(input('두번째 수는?'))
sum = first + second
print('합', sum)

첫번째 수는?10
두번째 수는?20
합 30

In [131]:
print('합', sum, sep='=', end='/')
print('합', sum, sep='~', end=' /')
print('합', sum, sep='은')

합=30/합~30 /합은30

In [134]:
import sys
print('hello', 'world', sep=", ", file=sys.stdout)

hello, world

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
    - 숫자 : int, float
    - 문자 : str
    - 논리 : bool(True/False)
    
# 3.1 숫자형

In [138]:
import sys
sys.maxsize # 정수의 최대값 2의 63승-1 (2**63 -1)

9223372036854775807

In [140]:
i = sys.maxsize + 1000
print(i)
print(type(i))

9223372036854776807
<class 'int'>

In [148]:
f = 4/2 # 정수/정수는 무조건 실수
f

2.0

In [154]:
# 자바처럼 정수/정수의 결과를 정수로
f = 4//2 # 몫연산자
print(f)
f = int(4/2)
print(f)

2
2

In [155]:
c = 1j # 수학시간의 0+1i
print(c**2) # ** 승연산자

(-1+0j)

In [157]:
f = 1.12e12 # 1.12의 10의 12승 1120000000000
print('지수형 표현할당시 실수형으로 저장 :', f)
f = 1.12e-12 # 0.00000000000112
print('지수형 표현할당시 실수형으로 저장 :', f)

지수형 표현할당시 실수형으로 저장 : 1120000000000.0
지수형 표현할당시 실수형으로 저장 : 1.12e-12

# 3.2 문자형
쌍따옴표("-")나 홑따옴표('-')이용

In [171]:
name = "홍길동\"짱\"" # 홍길동 "짱"
name = '홍길동"짱"'
address = '서울시 관악구 \'신림동\'' # 서울시 관악구 '신림동'
address = "서울시 관악구 '신림동'"
print(name, address)

홍길동"짱" 서울시 관악구 '신림동'

In [173]:
# 문자형 변수 여러줄
text = '''여러줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요ㅋㅋ xx 010-9999-999 020202-20254114'''
print(text)

여러줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요ㅋㅋ xx 010-9999-999 020202-20254114

### ※ 문자열 연산

In [175]:
'''
    여러줄 주석 용도
    2025.04.08 문자열 연산 소스 by 홍길동
'''
name1 = "홍길동"
name2 = "동해 번쩍 서해 번쩍"
print(name1 + name2)

홍길동동해 번쩍 서해 번쩍

In [176]:
print(name1 * 3) # 문자열을 곱하면 반복

홍길동홍길동홍길동

### ※ raw 데이터
- 용도: 정규표현식 이용, 디렉토리 경로 표현시 이용

In [180]:
print(r'Hello\nworld')
print('Hello\\nworld')

Hello\nworld
Hello\nworld

정규 표현식

    1. 참조: 위키백과
    2. 간략한 문법 : 
    d (숫자열 매치, [0-9]와 동일
    \D (숫자가 아닌것)
    \w (영문자나 숫자, [a-zA-Z0-9]
    \W (영문자나 숫자가 아닌 문자)
    . (문자)
    \. (.의미)
    \. (-의미)
    (2, 3) (2-4번 반복)
    (4)    (4번 반복)
    (2,)   (2번 이상 반복)
    -      (1번 이상 반복)
    *      (0번 이상 반복)
    ?      (0번이나 1번 반복)
    
    3. 정규 표현식 연습창 (https://regexr.com/)
    ex1. 전화번호 : 010-9999-9999 02-712-8888 
                    01099997777 0277778888
                    02)714-5656 010 1234 1234 010.1234.1234
                   
    "[0-9]{2,3}[\-) .]?[0-9]{3,4}[\- .]?[0-9]{4}"

    ex2. 이메일 : abc12@naver.com / abc123@0to7.co.kr
                  abc@한국.com
     "\w{3,}@[a-zA-Z0-9가-힣]+(\.[a-zA-Z]+){1,2}"

tel_pattern = r"[0-9]{2,3}[\-) .]?[0-9]{3,4}[\- .]?[0-9]{4}"
email_pattern = \w{3,}@[a-zA-z0-9가-힣]+.[a-zA-Z]+\.[a-zA-Z]+(\.[a-zA-Z]+)?
                r"\w{3,}@[a-zA-Z0-9가-힣]+(\.[a-zA-Z]+){1,2}"
                
     4. 소스 구현

In [20]:
import re
data = "홍길동인데 전번이 041-888-8888, \
010 9999 9999 동해번쩍 서해번쩍 ㅋㅋ ㅠㅠ \
오늘 날씨는 엄청 좋아요"
print(data)

홍길동인데 전번이 041-888-8888, 010 9999 9999 동해번쩍 서해번쩍 ㅋㅋ ㅠㅠ 오늘 날씨는 엄청 좋아요

In [21]:
tel_pattern = r"[0-9]{2,3}[\-) .]?[0-9]{3,4}[\- .]?[0-9]{4}"

In [24]:
# 해당 패턴을 다 찾아줌. 없으면 []반환
tels = re.findall(tel_pattern, data) 
tels

['041-888-8888', '010 9999 9999']

In [25]:
# search() : 정규 표현식 패턴과 일치하는 처음 단어만 찾음
pattern =  "(\d{2,3})-(\d{3,4})-(\d{4})"
firstTel = re.search(pattern, data)
firstTel

In [27]:
data[10:22] # 문자 슬라이식

'041-888-8888'

In [29]:
print('전화번호 전체:', firstTel.group(0))
print('국번 :', firstTel.group(1))
print('중간번호 :', firstTel.group(2))
print('끝번호 :', firstTel.group(3))

전화번호 전체: 041-888-8888
국번 : 041
중간번호 : 888
끝번호 : 8888

In [40]:
re.sub('r[가-힣0-9\s]', '', data) # 특수문자, 자음, 모음 없애기

'홍길동인데 전번이 041-888-8888, 010 9999 9999 동해번쩍 서해번쩍 ㅋㅋ ㅠㅠ 오늘 날씨는 엄청 좋아요'

In [50]:
# 파일 경로에는 반드시 r, \\, /를 사용
file_path = r"C:\ai_x_Kyoung tae\source\01_python\text.txt"
file_path = "C:\\ai_x_Kyoung tae\\source\\01_python\\text.txt"
file_path = "C:/ai_x_Kyoung tae/source/01_python/text.txt"

In [101]:
file_stream = open(file_path, 'w')
print("Hello", "world", sep="~ ") # 콘솔 출력
print("Hello", "world", sep=" ~ ", file=file_stream) # 파일 출력
file_stream.close() # close를 하지 않으면 파일저장 X

Hello~ world

# ※ 문자열 슬라이싱

In [102]:
str_ = '0123456789'
str_

'0123456789'

In [103]:
# 문자 인덱싱
str_[0], str_[2], str_[-1], str_[-3]

('0', '2', '9', '7')

In [104]:
str_[20] # 없는 인덱싱은 에러

IndexError: string index out of range

In [105]:
```
문자변수 [from:stop] : from부터 stop앞까지 추출
문자변수[from:stop:step] : from부터 stop앞까지 step씩 전진하면서 추출
        step 생략시 1
        from 생략시 처음부터
        stop 생략시 끝까지
```

SyntaxError: invalid syntax (1066533829.py, line 1)

In [106]:
str_[0:5]

'01234'

In [107]:
str_[-5:-1] # -5번째부터 -1번째 앞까지

'5678'

In [108]:
str_[-4:] # -4번째부터 끝까지

'6789'

In [109]:
str_[0:8:2]

'0246'

In [110]:
str_[9:0:-1]

'987654321'

In [111]:
# 첫문자~6번 or 5번째 인덱스까지 추출
print(str_[0:7])
# 5번째부터 끝까지 추출
print(str_[5:])
# str_를 거꾸로 출력
print(str_[::-1])
print(str_[-1::-1])

0123456
56789
9876543210
9876543210

## 3.3 논리형(True/False)

In [112]:
a = True
print(a) # a:매개변수=인자
print(type(a)) # a변수의 타입
print(isinstance(a, bool)) # isinstance(변수, 타입) : 변수가 해당 타입인지 여부
print('a 주소 :', id(a))
b = True
print('b 주소 :', id(b))
b - False
print('b 주소 :', id(b))

True
<class 'bool'>
True
a 주소 : 140709713299664
b 주소 : 140709713299664
b 주소 : 140709713299664

In [113]:
int(True), int(False)

(1, 0)

In [114]:
# False로 간주되는 것 : 0, ""(빈스트링), None, [], (), {}
# False외의 값은 다 True " "

In [115]:
if []:
    print('True다')
else:
    print('False다')

False다

## 3.4 자료형 확인 및 형변환 함수
- type(변수)
- isinstance(변수, 타입)
- int() : 정수형으로 변환
- float() : 실수형으로 변환
- str() : 문자형으로 변환
- bool() : 논리형으로 변환

In [116]:
int("123")

123

In [117]:
str(10), str(10.5), str(True), str(1.12e12)

('10', '10.5', 'True', '1120000000000.0')

In [119]:
bool("")

False

파이썬 기본 자료형(정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬러싱, raw데이터(정규표현식, 파일경로)
3. 논리형 - False로 판별되는 경우

# 4절. 포맷팅
- 포맷팅이란, 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것
- 변수와 텍스트를 결합해서 보기 좋은 형식의 새로운 텍스트를 만들 수 있음

## 4.1 문자열에 출력 형식 지정

In [122]:
name = "홍길동"
age = 30
print(name, '님의 나이는', age, '살입니다', sep='')

홍길동님의 나이는30살입니다

In [ ]:
print("%s님의 나이는 %3d살입니다"%(name, age))
# %s: 문자, %d:정수 %f:실수
print(f"{name}님의 나이는 {age}살입니다")
print("{}님의 나이는 {(}age}살입니다")

## 4.2 format() 문법

In [ ]:
#"{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}".format(변수)
    # 인덱스 : format함수 안의 매개변수의 순서
    # 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(중앙정렬)
    # 정수자릿수 : 출력될 자릿수d. 변수 내용보다 작은 자릿수가 지정되면 자릿수 무시
    # 실수자릿수 : 출력될자릿수.소수점이하출력자릿수f
    # 문자자릿수 : 전체확보될자릿수[.변수중출력할자릿수]s
    # 타입 : d(10진수 정수), b(2진수), x(16진수), f(실수), s(문자)
    # 공백대체문자를 쓸 경우 정렬방식을 반드시 기입해야 함

In [ ]:
name = input('이름은')
age = int(input('나이는?'))
print("()살") *()님 반갑습니다".format(age, name))
print("")

In [ ]:
# 숫자의 경우 : 오른쪽정렬(기본값)
# 문자의 경우 : 왼쪽정렬(기본값)
# 변수보다 작은 자리수를 지정하면 자릿수가 무시되고 다 출력(정수 자리수)
i = 12345
s = "Hello"
print("[{0}], [{0:10}], [{0:3}]",format(i))
print("[{0}], [{0:10}], [{0:3}]",format(s))

In [ ]:
# 문자 : 전체자리수.표현될자리수
# 실수 : 전체자리수.소수점이하 표현될 자리수
f = 2.758
s = "Hello"
print("f = [{:$>5.2f}]".format(f))
print("s = [{:_<5.2}]".format(s))

In [ ]:
# + : 부호를 출력
a, b = 123, -123
print("[{:5}], [{:5}]".format(a, b))
print("[{:+5}], [{:+5}]".format(a, b))
print("[{:=+5}], [{:=+5}]".format(a, b))

In [ ]:
#
f = 2.785
print("[{:+10.2f}]".format(f))

In [ ]:
sign = '+'
width = 10
precision = 2
print("[{:{}{}.{}f}]".format(f, sign, width, precision))

In [ ]:
a = 15
print("10진수 a = [{:5d}]".format(a))
print("16진수 a = [{:5x}]".format(a))
print("2진수 a = [{:5b}]".format(a))

# 4.3 날짜출력

In [ ]:
import re
from datetime import datetime
now = datetime.now()
now

In [ ]:
print("{}".format(now))
print("")