In [6]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font color="red" size="5">ch05. 함수</font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는 것) 불가
- 함수 정의
```
def 함수명([매개변수1, 매개변수2, 매개변수3]):
    명령어1
    명령어2
    명령어n
```
# 1절. 함수의 정의
## 1.1 함수 정의

In [7]:
# 함수 정의
def my_message(x, msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [8]:
# 함수 사용
my_message(5, 'Hello')

Hello
Hello
Hello
Hello
Hello

In [9]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [10]:
type(my_msg), type(my_message)

(function, function)

In [11]:
print('Hello') # 파이썬 내장함수(import 하지않고 사용할 수 있는 함수)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [12]:
my_message(2, 'Hello')

Hello
Hello

In [13]:
my_message = 5

In [15]:
def my_message(a, b):
# 변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

SyntaxError: incomplete input (1863828945.py, line 2)

In [16]:
# 함수 정의 : 4월16일(수)
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, World')

In [17]:
# 함수사용=함수호출
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [18]:
my_hello

In [19]:
__name__

'__main__'

In [20]:
if __name__=='__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [21]:
import ch05 # ch05모듈을 Load

In [22]:
ch05.my_hello(3)

Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World

In [23]:
from ch05 import my_hello # ch05 모듈안의 my_hello load

In [24]:
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring

In [25]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [26]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [27]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end='')
        a, b = b, a+b
print() # 개행

In [28]:
fibonacci(10)

0112358

In [29]:
if True:
    x = 10

In [30]:
x

10

## 1.3 지역변수(local var), 전역변수(global var)

In [31]:
global_var = 100 # 전역변수
def func1():
    print('함수 안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수 안 : 100
함수 밖 : 100

In [32]:
def func2():
    local_var = 200 # 지역변수
    print('함수 안 :', local_var)
func2()
print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [ ]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수
    print('함수 안(지역변수 g_var) :', g_var)
func3()
print('함수 밖(전역변수 g_var)', g_var)

In [ ]:
# 멕시컬 특성
g_var = 100 # 전역변수
def func4():
    global g_var # fuc4함수내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200 # 지역변수
func4()
print('함수 밖 g_var :', g_var)

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [ ]:
foo = 'a' # 전역변수
id(foo)

In [ ]:
def func1(f): # 매개변수 f는 지역변수
    print('Before :', f, 'idf(f) :', id(f))
    f = f*3
    print('After :', f, 'idf(f) :', id(f))
func1(foo)

In [ ]:
print(foo, id(foo))

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [ ]:
L = [1,2,3]
id(L)

In [ ]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, id(f))
    f.append(4)
    print('After :', f, id(f))
func2(L)

In [ ]:
print('L =', L, id(L))

# 2절. 함수의 실행 결과를 반환하는 return

In [ ]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10이면 0 1 1 2 3 5 8을 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행
    
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10이면 [0 1 1 2 3 5 8]을 return
    '''
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [ ]:
x = fibonacci_print(100)
print(x)
print(type(x))

In [ ]:
x = fibonacci_return(100)

## 여러개 값 return

In [ ]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [ ]:
x, y = 5, 10
print(f'함수 실행 전 x={x}, y ={y}')
x, y = swap(x, y)
print(f'함수 실행 후 x={x}, y ={y}')

# 3절. 함수의 매개변수 ★
## 3.1. 기본값을 갖는 매개변수

In [ ]:
def make_url(ip, port=80): # 순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [33]:
print(make_url("www.naver.com"))
print(make_url("localhost", 8090))
print(make_url(port=8090, ip ="localhost"))

NameError: name 'make_url' is not defined

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리, 등의 객체일 때

In [34]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg = ', arg)

In [35]:
i = 50
func2()

arg =  5

In [36]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터구조)일 때 : arg의 기본값은 호출되는 시점의 값
def func3(data, L=list_):
    "data를 L에 append"
    L.append(data)
    return L

In [37]:
print(func3(10)) # list_가 수정 : [10]

[10]

In [38]:
print(func3(20))

[10, 20]

In [39]:
list_

[10, 20]

In [40]:
def func4(data, L=None):
    if L==None:
        L = []
    L.append(data)
    return L

In [41]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [42]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [43]:
add(1,2,3,4)

TypeError: add() takes 3 positional arguments but 4 were given

In [44]:
# *args 매개변수들을 하나의 튜플 변수 args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    print('args = ',args)
    # print ('args = ', args)
    result_tot = 0 # 누적변수
    for data in args:
        result_tot += data
        return result_tot

In [45]:
print(add(1))
print(add(1, 2))
print(add(1, 2, 3))
print(add(1, 2, 3, 9, 10))

args =  (1,)
1
args =  (1, 2)
1
args =  (1, 2, 3)
1
args =  (1, 2, 3, 9, 10)
1

In [46]:
add(1,2,3,4,5,10)

args =  (1, 2, 3, 4, 5, 10)

1

In [47]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [48]:
def concat(*subject, sep):
    return sep.join(subject)

In [49]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [50]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [51]:
# 해결책2 : 기본값을 반드시 갖는 키워드 인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [52]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [53]:
# 해결책3 : 순서인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [54]:
print('Python', 'Oracle', 'DL', 'ML', sep=' / ')

Python / Oracle / DL / ML

In [55]:
# 해결책 3
def concat(sep, *subject):
    return sep.join(subject)

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로

In [56]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print('이름 :', kwargs.get('name', '대마왕'))
    print('나이 :', kwargs.get('age', '30'))
    print('주소 :', kwargs.get('address', '서울'))

In [57]:
func5(name='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동

In [58]:
func5(name='김길동')

{'name': '김길동'}
<class 'dict'>
이름 : 김길동
나이 : 30
주소 : 서울

## 3.5 함수 정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름 반드시 명시) > 딕셔너리매개변수(**)

In [59]:
def func6(a, b, *c, **d):
    print('순서인수 a= :', a)
    print('순서인수 b= :', b)
    print('튜플인수 c= :', c)
    print('딕셔너리 인수 d= :', d)

In [60]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age=30, address='서울')

순서인수 a= : 10
순서인수 b= : 20
튜플인수 c= : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d= : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [61]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a= :', a)
    print('순서인수 b= :', b)
    print('순서인수 c= :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e = :', e)

In [62]:
func7(10, 20, 1, 2, 3, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a= : 10
순서인수 b= : 20
순서인수 c= : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e = : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플매개변수)

In [63]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [64]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [65]:
numbers = (1, 2, 3, 4)
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

In [66]:
numbers = (1,2,3,4)
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리 언패킹

In [67]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [68]:
func5(name='홍길동', age=30, address='신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [69]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [70]:
def add(a, b):
    return a+b
add(3, 4)

7

In [71]:
add2 = lambda a, b : a+b
add2(3, 4)

7

In [72]:
type(add), type(add2)

(function, function)

In [73]:
(lambda a, b : a+b)(3,4)

7

In [74]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#    if num%2:
#        result = "홀수"
#    else:
#        result = "짝수"
    return "홀수" if num%2 else "짝수"
ex1 = lambda num : "홀수" if num%2 else "짝수"
ex1(10), ex1(-9)

('짝수', '홀수')

In [75]:
# ex2. 두 매개변수의 차이를 return
def diff(a, b):
    if a>b:
        result = a-b
    else:
        resylt = b-a
    result = a-b if a>b else b-a
    return result
diff(2, 1), diff(10, 20)

(1, 10)

In [76]:
ex2 = lambda a, b : a-b if a>b else b-a
print(ex2(2, 1), ex2(10,20))
print(type(diff), type(ex2))

1 10
<class 'function'> <class 'function'>

In [77]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda money : money if money>0 else 'negative'
ex3(1000), ex3(-100)

(1000, 'negative')

In [78]:
# ex4. 점수를 입력받아 점수가 100점이하80점이상은 A팀, 60점이상은 B팀, 60점미만은 재시험.
#      그외는 유효하지 않음
ex4 = lambda score : "A팀" if 80<=score<=100 else\
                    "B팀" if 60<=score<80 else\
                    "재시험" if 0<=score<60 else\
                    "유효하지 않음"
ex4(120), ex4(90), ex4(70), ex4(50)

('유효하지 않음', 'A팀', 'B팀', '재시험')

In [79]:
# ex5. safe_index를 람다식으로 
def safe_index(vector, data):
    if data in vector: # lst안에 data 있는지 여부
        return vector.index(data)
    else:
        return -1

In [80]:
ex5 = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)
ex5(tup, 4), ex5(tup, 2)

(-1, 1)

## 4.2 함수의 매개변수에 람다식 이용
## (1) map

In [29]:
def map_template(func, L=[]):
    'L의 모든 요소를 func()함수를 적용시켜 return'
    result = []
    for l in L:
        result.append(func(l))
    return result
#     return [func(l) for l in L]

In [30]:
# 리스트 데이터를 가공 방법 1. map_template
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
map_template(lambda x : x*2, list_data)
# def x_2(x):
#     return x*2
# map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [31]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션
[l*2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [32]:
# 리스트 데이터를 가공 방법 3. map():파이썬 내장함수
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [33]:
for item in map(lambda x : x*2, list_data):
    print(item, end=' ')

2 4 6 8 10 12 14 16 18 20

In [1]:
'''
예1. [5000,800,1000,6000]로 바꾸시오
'''
prices = ['5,000','800','1000','6,000']

In [2]:
def func(x):
    return int(x.replace(',',''))
func("5,000"), func("1800")

(5000, 1800)

In [3]:
list(map(lambda x : int(x.replace(',','')), prices))

[5000, 800, 1000, 6000]

In [15]:

'''
예2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                {'name':'신길동', 'birth':'1998-12-31'},]를
    member2 =  [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
                {'name':'신길동', 'year':1998, 'month':12, 'day':31},]를 바꿉니다
'''
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
           {'name':'신길동', 'birth':'1998-12-31'},]

In [16]:
# '2000-01-01' => {'year':1998, 'month':12, 'day':31}
def split_date(date):
    split_data = date.split('-')
#     print(split_data[0], split_data[1], split_data[2])
    return {'year': int(split_data[0]),
           'month': int(split_data[1]),
           'day'  : int(split_data[2])
           }

In [17]:
split_date("2000-01-01")

{'year': 2000, 'month': 1, 'day': 1}

In [18]:
def member_func(member): # {'name':'홍길동', 'birth':'2000-01-01'}
    "{'name':'신길동', 'year':1998, 'month':12, 'day':31}식으로 return"
    return {
        'name':member.get('name'),
        'year':int(member['birth'].split('-')[0]),
        'month':int(member['birth'].split('-')[1]),
        'day':int(member['birth'].split('-')[2]),
    }
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [19]:
member2 =list(map(lambda member : {
                        'name':member.get('name'),
                        'year':int(member['birth'].split('-')[0]),
                        'month':int(member['birth'].split('-')[1]),
                        'day':int(member['birth'].split('-')[2]),
                        } ,
         member1
        )
    )
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [20]:
'예3. member2를 member1로 바꿉니다'

'예3. member2를 member1로 바꿉니다'

In [21]:
# {'year': 2000, 'month': 1, 'day': 1} => "2000-01-01"를 return하는 함수
def join_date(data):
    # print([data.get('year'), data.get('month'), data.get('day')])
    year = str(data.get('year'))
    month = data.get('month')
    if month < 10:
        month = '0'+str(month)
    else:
        month = str(month)
    day = data.get('day')
    if day < 10:
        day = '0'+str(day)
    else:
        day = str(day)
    return '-'.join([year, month, day])

In [22]:
def join_date(data):
    print("{}-{:02}-{:02}".format(data.get('year'), 
                                  data.get('month'), 
                                  data.get('day')))

In [23]:
def join_date(data):
    print("{year}-{month:02}-{day:02}".format(
                                  year = data.get('year'), 
                                  month=data.get('month'), 
                                  day=data.get('day')))

In [24]:
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)

In [25]:
join_date({'year': 2000, 'month': 1, 'day': 1})

'2000-01-01'

In [26]:
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [27]:
# {'name':'홍길동', 'year':2000, 'month':1, 'day':1} (member2)를
# {'name':'홍길동', 'birth':'2000-01-01'}으로 가공
list(map(lambda member : {
                        'name' : member.get('name'),
                        'birth' : "{year}-{month:02}-{day:02}".format(**member)}, member2
))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

## (2) filter
- map : [1,2,3,4,5] => [2,4,6,8,10] (벡터의 모든 데이터를 가공)
- filter : [1,2,3,4,5] => [2,4] (원하는 정보를 추출)
- cf. 리스트 컴프리헨션

In [33]:
def filter_template(func, L=[]):
    result = []
    for l in L:
        if func(1):
            result.append(1)
            return result

In [34]:
def evenChic(value):
    return value%2==0
evenChic(10), evenChic(-9)

(True, False)

In [39]:
list_data = [1, 2, 3, 4, 5]
filter_template(lambda value : value%2==0, list_data)

In [40]:
list(filter(lambda value : value%2==0, list_data))

[2, 4]

In [41]:
[data for data in list_data if data%2==0]

[2, 4]

## (3) sort

In [1]:
p = [9, 2, 7]
p.sort(reverse=True)
p

[9, 7, 2]

In [2]:
# 무조건 0번째 item 기준으로 정렬
pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [3]:
# 1번째 item 기준으로 정렬(abc순)
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [4]:
# 무조건 0번 item기준으로 정렬
number2d = [[9, 9, 9, 9, 9, 9],
            [1, 100],
            [10, 1]]
number2d.sort(reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬
number2d

[[10, 1], [9, 9, 9, 9, 9, 9], [1, 100]]

In [5]:
# 리스트를 매개변수로 받아 합을 return
(lambda item : sum(item))([1,2,3])

6

In [6]:
# 합이 큰 순으로 정렬
number2d.sort(key = lambda item : sum(item), reverse=True)
number2d

[[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]]

In [14]:
students = [
    {'name':'홍길동', 'score':90},
    {'name':'김길동', 'score':50},
    {'name':'윤길동', 'score':99},
    {'score':100}
]

In [15]:
# 이름순으로 정렬(ㄱㄴㄷ순)
students.sort(key = lambda item : item.get('name','힣'))
students

[{'name': '김길동', 'score': 50},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'score': 100}]

In [18]:
# score 순으로 정렬(내림차순 정렬 : reverse =True)
students.sort(key = lambda item : item.get('score', 0), reverse=True)
students

[{'score': 100},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'name': '김길동', 'score': 50}]

In [19]:
# 책제목순 정렬(ㄱㄴㄷ), 저자순(ㄱㄴㄷ), 가격순 오름차순정렬
books = [
    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스를', 'price':'25,000'}, 
    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},
    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'0'},
    {'no':5, 'title':'가격이숫자', 'writer':'이길동', 'price':'900'},
    {'no':6, 'title':'가격이없음', 'writer':'김길동', 'price':'0'},
]

In [20]:
books.sort(key = lambda book : book.get('title'))
books

[{'no': 5, 'title': '가격이숫자', 'writer': '이길동', 'price': '900'},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동', 'price': '0'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '0'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스를', 'price': '25,000'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'}]

In [27]:
books.sort(key = lambda book : book.get('price', 0))
books

[{'no': 6, 'title': '가격이없음', 'writer': '김길동', 'price': '0'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '0'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스를', 'price': '25,000'},
 {'no': 5, 'title': '가격이숫자', 'writer': '이길동', 'price': '900'}]

In [32]:
# '14,000' -> 14000 / "2000" -> 2000 /'-' -> 0
def parse_int(price):
#    print(type(price))
    if isinstance(price, str) & price.replace(',','').isdigit():
        return int(price.replace(',',''))               
    elif isinstance(price, int):
        return price

In [33]:
parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int('-')

(8000, 8000, 800, None)

In [38]:
# {'no':6, 'title':'가격이없음', 'writer':'김길동', 'price':'0'} => 0
# {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'} => 14220
# {'no':5, 'title':'가격이숫자', 'writer':'이길동', 'price':'900'} => 900
def parse_int(book):
    if isinstance(book.get('price'), str) and \
            book.get('price').replace(',','').isdigit():
        return int(book.get('price').replace(',',''))
    elif isinstance(book.get('price'), int):
        return book.get('price')
    else:
        return 0
parse_int(books[0]), parse_int(books[3]), parse_int(books[2]), parse_int(books[5])

(0, 18100, 14220, 900)

In [46]:
books =[
    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스를', 'price':'25,000'}, 
    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},
    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},
    {'no':5, 'title':'가격이숫자', 'writer':'이길동', 'price':'900'},
    {'no':6, 'title':'가격이없음', 'writer':'김길동'},
]
copy_books = books.copy() # 깊은 복사

In [47]:
copy_books.sort(key = lambda book :
              int(book.get('price').replace(',','')) \
              if isinstance(book.get('price'), str) and\
              book.get('price').replace(',','').isdigit() else\
               book.get('price') if isinstance(book.get('price'), int) else \
               0)

In [48]:
# 람다식 테스트 확인
(lambda book : 
                int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                        book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0 )(books[0])

25000

In [49]:
copy_books

[{'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 5, 'title': '가격이숫자', 'writer': '이길동', 'price': '900'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스를', 'price': '25,000'}]

In [50]:
books

[{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스를', 'price': '25,000'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이숫자', 'writer': '이길동', 'price': '900'},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'}]

## 4.3 return 문에 람다식 이용

In [11]:
# 함수를 return
def make_box(shape): # shape : [l]=>len가 l인 list를 생성하는 함수 return,
                    #          [r,c] => r행 c열인 2차원 list를 생성하는 함수 return
    def box(init_value):
        if len(shape)==1:
            return [init_value]*shape[0]
        elif len(shape)==2:
            return [ [init_value]*shape[1] ] * shape[0]
    return box

In [12]:
def make_box(shape):
    if len(shape)==1:
        return lambda init_value : [init_value]*shape[0]
    elif len(shape)==2:
        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]

In [13]:
line_func = make_box([2,3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

In [14]:
line_func1 = make_box([10])
line_func1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

# 5절. 파이썬 내장함수
- import 하지않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다

In [15]:
globals() # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  '# 함수를 return\ndef make_box(shape):\n# shape : [l]=>len가 L인 list를 생성하는 함수 return\n#       [r,c]=> r행 c열인 list를 생성하는 함수 return\n#     [d,r,c]=> d면 r행 c열 3차원 list를 생성하는 함수\n    def box(init_value):\n        if len(shape):\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [ [init_value]*shape[1] ] * shape[0]\n    return box',
  'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value]*shape]',
  'line_func = make_box([2,3])\nline_func(3)',
  'all([True, True, True, False]) # ',
  'round(3,5) # 반올림',
  'round(3.5) # 반올림',
  'import numpy as np # numpy 모듈을 np라는 이름으로 Load\nnp.round(3.5), np.cell(3.5)',
  'import numpy as np # numpy 모듈을 np라는 이름으로 Load\nnp.round(3.5), np.cell(3.5), np.floor(3.9) #반올림, 올림, 내림',
  'import numpy as np # numpy 모듈을 np라는 이름으로 Load\nnp.round(3.5), np.ceil(3.5), np.floor(3.9) #반올림, 올림, 내림',
  'line_func = make_box([2,3])\nline_func(3)',
  '# 함수를 return\ndef make_box(shape): # shape : [l]=>len가 l인 list를 생성하는 함수 return,\n                    #          [r,c] => r행 c열인 2차원 list를 생성하는 함수 return\n    def box(init_value):\n        if len(shape)==1:\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [ [init_value]*shape[1] ] * shape[0]\n    return box',
  'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]',
  'line_func = make_box([2,3])\nline_func(3)',
  'line_func1 = make_box([10])\nline_func1(3)',
  'globals() # 전역변수 리스트'],
 '_oh': {4: False,
  5: 3,
  6: 4,
  9: (4.0, 4.0, 3.0),
  13: [[3, 3, 3], [3, 3, 3]],
  14: [3, 3, 3, 3, 3, 3, 3, 3, 3, 3]},
 '_dh': [WindowsPath('C:/ai_x_Kyoung tae/source/01_python')],
 'In': ['',
  '# 함수를 return\ndef make_box(shape):\n# shape : [l]=>len가 L인 list를 생성하는 함수 return\n#       [r,c]=> r행 c열인 list를 생성하는 함수 return\n#     [d,r,c]=> d면 r행 c열 3차원 list를 생성하는 함수\n    def box(init_value):\n        if len(shape):\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [ [init_value]*shape[1] ] * shape[0]\n    return box',
  'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value]*shape]',
  'line_func = make_box([2,3])\nline_func(3)',
  'all([True, True, True, False]) # ',
  'round(3,5) # 반올림',
  'round(3.5) # 반올림',
  'import numpy as np # numpy 모듈을 np라는 이름으로 Load\nnp.round(3.5), np.cell(3.5)',
  'import numpy as np # numpy 모듈을 np라는 이름으로 Load\nnp.round(3.5), np.cell(3.5), np.floor(3.9) #반올림, 올림, 내림',
  'import numpy as np # numpy 모듈을 np라는 이름으로 Load\nnp.round(3.5), np.ceil(3.5), np.floor(3.9) #반올림, 올림, 내림',
  'line_func = make_box([2,3])\nline_func(3)',
  '# 함수를 return\ndef make_box(shape): # shape : [l]=>len가 l인 list를 생성하는 함수 return,\n                    #          [r,c] => r행 c열인 2차원 list를 생성하는 함수 return\n    def box(init_value):\n        if len(shape)==1:\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [ [init_value]*shape[1] ] * shape[0]\n    return box',
  'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]',
  'line_func = make_box([2,3])\nline_func(3)',
  'line_func1 = make_box([10])\nline_func1(3)',
  'globals() # 전역변수 리스트'],
 'Out': {4: False,
  5: 3,
  6: 4,
  9: (4.0, 4.0, 3.0),
  13: [[3, 3, 3], [3, 3, 3]],
  14: [3, 3, 3, 3, 3, 3, 3, 3, 3, 3]},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001B012213D60>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1b0122235e0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1b0122235e0>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': [3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
 '__': [[3, 3, 3], [3, 3, 3]],
 '___': (4.0, 4.0, 3.0),
 '_i': 'line_func1 = make_box([10])\nline_func1(3)',
 '_ii': 'line_func = make_box([2,3])\nline_func(3)',
 '_iii': 'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]',
 '_i1': '# 함수를 return\ndef make_box(shape):\n# shape : [l]=>len가 L인 list를 생성하는 함수 return\n#       [r,c]=> r행 c열인 list를 생성하는 함수 return\n#     [d,r,c]=> d면 r행 c열 3차원 list를 생성하는 함수\n    def box(init_value):\n        if len(shape):\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [ [init_value]*shape[1] ] * shape[0]\n    return box',
 'make_box': <function __main__.make_box(shape)>,
 '_i2': 'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value]*shape]',
 '_i3': 'line_func = make_box([2,3])\nline_func(3)',
 'line_func': <function __main__.make_box.<locals>.<lambda>(init_value)>,
 '_i4': 'all([True, True, True, False]) # ',
 '_4': False,
 '_i5': 'round(3,5) # 반올림',
 '_5': 3,
 '_i6': 'round(3.5) # 반올림',
 '_6': 4,
 '_i7': 'import numpy as np # numpy 모듈을 np라는 이름으로 Load\nnp.round(3.5), np.cell(3.5)',
 'np': <module 'numpy' from 'C:\\Users\\Admin\\anaconda3\\lib\\site-packages\\numpy\\__init__.py'>,
 '_i8': 'import numpy as np # numpy 모듈을 np라는 이름으로 Load\nnp.round(3.5), np.cell(3.5), np.floor(3.9) #반올림, 올림, 내림',
 '_i9': 'import numpy as np # numpy 모듈을 np라는 이름으로 Load\nnp.round(3.5), np.ceil(3.5), np.floor(3.9) #반올림, 올림, 내림',
 '_9': (4.0, 4.0, 3.0),
 '_i10': 'line_func = make_box([2,3])\nline_func(3)',
 '_i11': '# 함수를 return\ndef make_box(shape): # shape : [l]=>len가 l인 list를 생성하는 함수 return,\n                    #          [r,c] => r행 c열인 2차원 list를 생성하는 함수 return\n    def box(init_value):\n        if len(shape)==1:\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [ [init_value]*shape[1] ] * shape[0]\n    return box',
 '_i12': 'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]',
 '_i13': 'line_func = make_box([2,3])\nline_func(3)',
 '_13': [[3, 3, 3], [3, 3, 3]],
 '_i14': 'line_func1 = make_box([10])\nline_func1(3)',
 'line_func1': <function __main__.make_box.<locals>.<lambda>(init_value)>,
 '_14': [3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
 '_i15': 'globals() # 전역변수 리스트'}

In [4]:
all([True, True, True, False]) # True인지 여부

False

In [6]:
round(3.5) # 반올림

4

In [9]:
import numpy as np # numpy 모듈을 np라는 이름으로 Load
np.round(3.5), np.ceil(3.5), np.floor(3.9) #반올림, 올림, 내림

(4.0, 4.0, 3.0)

In [17]:
# 실습형 1. 정수값에 대한 최대값과 최소값을 리턴
def get_max_min(data_list):
    return max(data_list), min(data_list)
    
get_max_min = lambda data_list : (max(data_list), min(data_list))
get_max_min([1,2,3,4,5,6,])

(6, 1)

In [21]:
# 실습형 2. BMI값에 따라 비만도 출력
def getBMI(kg, m):
    bmi = kg / (m**2)
    if bmi < 18.5:
        print('마른체형')
    elif 18.5 <= bmi < 25:
            print('표준')
    elif 25 <= bmi < 30:
            print('비만')
    else:
            print('고도비만')
getBMI(70, 1.73)

표준

In [22]:
# 실습형 3. 직각삼각형 밑변(a)/높이(b) -> 삼각형의 면적과 둘레 계산
import math
def get_triangle(width, height):
    area = width * height * 0.5
    perimeter = width + height + math.sqrt(width*width + height*height)
    return {'넓이':area, '둘레':perimeter}
get_triangle(3,4)

{'넓이': 6.0, '둘레': 12.0}

In [23]:
# 제곱근을 구하는 함수
import math
math.sqrt(25)

5.0

In [25]:
# 실습형 4. fRom~end까지 모든 정수값의 합을 리턴
def mysum(fRom, end):
    sum = 0
    for i in range(fRom, end+1):
        sum += i
        return sum
mysum(10,12) # 10부터 12까지

10

In [ ]:
# 실습형 5. 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식 작성
•예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
•def get_abbrs(lst):

In [ ]:
# 실습형 6. 람다 함수 형태로 수정할 때 알맞은 코드
# def f(x, y):  return x ** y

In [ ]:
# 실습형 7. map()함수를 사용해 구현, 리스트 컴프리헨션

In [ ]:
# 실습형 8.

In [28]:
# 실습형 9.
# data_info = {'year':2024, 'month':9, 'day':6}
# result = '{year}-{month}-{day}'.format(**date_info)
# result

NameError: name 'date_info' is not defined

In [31]:
# 실습형 10. 리스트
def vector_size_check(*vector_var):
    result = set()
    for vector in vector_var:
        result.add(len(vector))
    return len(result)==1
def vector_size_check(*vector_var):
    return len(set([len(vector) for vector in vector_var]))==1
vector_size_check([10, 20], (100,200), {'name','홍', 'age':20}, {1, 2})

SyntaxError: invalid syntax (1723734864.py, line 9)

In [ ]:
vector_size_check([10,20], (100,), {'name':'홍', 'age':20}, {1, 2})

In [ ]:
# 실습형 10.
# 입력받은 n개의 벡터(리스트, 튜플, 셋)의 크기들이 같은지 여부 return : 셋 이용
def vector_size_check(*vector_var):
    result = []
    for vector in vactor_var:
        result.append(len(vector))
        return all(result)

In [ ]:
# 실습형 11.