In [16]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font color="red" size="5">ch05. 함수</font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는 것) 불가
- 함수 정의
```
def 함수명([매개변수1, 매개변수2, 매개변수3]):
    명령어1
    명령어2
    명령어n
```
# 1절. 함수의 정의
## 1.1 함수 정의

In [17]:
# 함수 정의
def my_message(x, msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [18]:
# 함수 사용
my_message(5, 'Hello')

Hello
Hello
Hello
Hello
Hello

In [19]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [20]:
type(my_msg), type(my_message)

(function, function)

In [21]:
print('Hello') # 파이썬 내장함수(import 하지않고 사용할 수 있는 함수)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [22]:
my_message(2, 'Hello')

Hello
Hello

In [23]:
my_message = 5

In [24]:
def my_message(a, b):
# 변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

SyntaxError: incomplete input (1863828945.py, line 2)

In [25]:
# 함수 정의 : 4월16일(수)
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, World')

In [26]:
# 함수사용=함수호출
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [27]:
my_hello

In [28]:
__name__

'__main__'

In [29]:
if __name__=='__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [30]:
import ch05 # ch05모듈을 Load

In [31]:
ch05.my_hello(3)

Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World

In [32]:
from ch05 import my_hello # ch05 모듈안의 my_hello load

In [33]:
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring

In [34]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [35]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [36]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end='')
        a, b = b, a+b
print() # 개행

In [37]:
fibonacci(10)

0112358

In [38]:
if True:
    x = 10

In [39]:
x

10

## 1.3 지역변수(local var), 전역변수(global var)

In [40]:
global_var = 100 # 전역변수
def func1():
    print('함수 안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수 안 : 100
함수 밖 : 100

In [41]:
def func2():
    local_var = 200 # 지역변수
    print('함수 안 :', local_var)
func2()
print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [42]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수
    print('함수 안(지역변수 g_var) :', g_var)
func3()
print('함수 밖(전역변수 g_var)', g_var)

함수 안(지역변수 g_var) : 200
함수 밖(전역변수 g_var) 100

In [43]:
# 멕시컬 특성
g_var = 100 # 전역변수
def func4():
    global g_var # fuc4함수내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200 # 지역변수
func4()
print('함수 밖 g_var :', g_var)

함수 안 g_var : 100
함수 밖 g_var : 200

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [44]:
foo = 'a' # 전역변수
id(foo)

2655719089968

In [45]:
def func1(f): # 매개변수 f는 지역변수
    print('Before :', f, 'idf(f) :', id(f))
    f = f*3
    print('After :', f, 'idf(f) :', id(f))
func1(foo)

Before : a idf(f) : 2655719089968
After : aaa idf(f) : 2655827461424

In [46]:
print(foo, id(foo))

a 2655719089968

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [47]:
L = [1,2,3]
id(L)

2655827665984

In [48]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, id(f))
    f.append(4)
    print('After :', f, id(f))
func2(L)

Before : [1, 2, 3] 2655827665984
After : [1, 2, 3, 4] 2655827665984

In [49]:
print('L =', L, id(L))

L = [1, 2, 3, 4] 2655827665984

# 2절. 함수의 실행 결과를 반환하는 return

In [50]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10이면 0 1 1 2 3 5 8을 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행
    
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10이면 [0 1 1 2 3 5 8]을 return
    '''
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [51]:
x = fibonacci_print(100)
print(x)
print(type(x))

0 1 1 2 3 5 8 13 21 34 55 89
None
<class 'NoneType'>

In [52]:
x = fibonacci_return(100)

## 여러개 값 return

In [53]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [54]:
x, y = 5, 10
print(f'함수 실행 전 x={x}, y ={y}')
x, y = swap(x, y)
print(f'함수 실행 후 x={x}, y ={y}')

함수 실행 전 x=5, y =10
함수 실행 후 x=10, y =5

# 3절. 함수의 매개변수 ★
## 3.1. 기본값을 갖는 매개변수

In [55]:
def make_url(ip, port=80): # 순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [56]:
print(make_url("www.naver.com"))
print(make_url("localhost", 8090))
print(make_url(port=8090, ip ="localhost"))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리, 등의 객체일 때

In [57]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg = ', arg)

In [58]:
i = 50
func2()

arg =  5

In [59]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터구조)일 때 : arg의 기본값은 호출되는 시점의 값
def func3(data, L=list_):
    "data를 L에 append"
    L.append(data)
    return L

In [60]:
print(func3(10)) # list_가 수정 : [10]

[10]

In [61]:
print(func3(20))

[10, 20]

In [62]:
list_

[10, 20]

In [63]:
def func4(data, L=None):
    if L==None:
        L = []
    L.append(data)
    return L

In [64]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [65]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [66]:
add(1,2,3,4)

TypeError: add() takes 3 positional arguments but 4 were given

In [67]:
# *args 매개변수들을 하나의 튜플 변수 args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    print('args = ',args)
    # print ('args = ', args)
    result_tot = 0 # 누적변수
    for data in args:
        result_tot += data
        return result_tot

In [68]:
print(add(1))
print(add(1, 2))
print(add(1, 2, 3))
print(add(1, 2, 3, 9, 10))

args =  (1,)
1
args =  (1, 2)
1
args =  (1, 2, 3)
1
args =  (1, 2, 3, 9, 10)
1

In [69]:
add(1,2,3,4,5,10)

args =  (1, 2, 3, 4, 5, 10)

1

In [70]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [81]:
def concat(*subject, sep):
    return sep.join(subject)

In [82]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [83]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [84]:
# 해결책2 : 기본값을 반드시 갖는 키워드 인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [85]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [86]:
# 해결책3 : 순서인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [87]:
print('Python', 'Oracle', 'DL', 'ML', sep=' / ')

Python / Oracle / DL / ML

In [88]:
# 해결책 3
def concat(sep, *subject):
    return sep.join(subject)

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로

In [91]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print('이름 :', kwargs.get('name', '대마왕'))
    print('나이 :', kwargs.get('age', '30'))
    print('주소 :', kwargs.get('address', '서울'))

In [92]:
func5(name='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동

In [95]:
func5(name='김길동')

{'name': '김길동'}
<class 'dict'>
이름 : 김길동
나이 : 30
주소 : 서울

## 3.5 함수 정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름 반드시 명시) > 딕셔너리매개변수(**)

In [96]:
def func6(a, b, *c, **d):
    print('순서인수 a= :', a)
    print('순서인수 b= :', b)
    print('튜플인수 c= :', c)
    print('딕셔너리 인수 d= :', d)

In [97]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age=30, address='서울')

순서인수 a= : 10
순서인수 b= : 20
튜플인수 c= : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d= : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [100]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a= :', a)
    print('순서인수 b= :', b)
    print('순서인수 c= :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e = :', e)

In [101]:
func7(10, 20, 1, 2, 3, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a= : 10
순서인수 b= : 20
순서인수 c= : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e = : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플매개변수)

In [102]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [103]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [104]:
numbers = (1, 2, 3, 4)
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

In [105]:
numbers = (1,2,3,4)
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리 언패킹

In [108]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [109]:
func5(name='홍길동', age=30, address='신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [110]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [111]:
def add(a, b):
    return a+b
add(3, 4)

7

In [112]:
add2 = lambda a, b : a+b
add2(3, 4)

7

In [113]:
type(add), type(add2)

(function, function)

In [114]:
(lambda a, b : a+b)(3,4)

7

In [118]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#    if num%2:
#        result = "홀수"
#    else:
#        result = "짝수"
    return "홀수" if num%2 else "짝수"
ex1 = lambda num : "홀수" if num%2 else "짝수"
ex1(10), ex1(-9)

('짝수', '홀수')

In [119]:
# ex2. 두 매개변수의 차이를 return
def diff(a, b):
    if a>b:
        result = a-b
    else:
        resylt = b-a
    result = a-b if a>b else b-a
    return result
diff(2, 1), diff(10, 20)

(1, 10)

In [120]:
ex2 = lambda a, b : a-b if a>b else b-a
print(ex2(2, 1), ex2(10,20))
print(type(diff), type(ex2))

1 10
<class 'function'> <class 'function'>

In [121]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda money : money if money>0 else 'negative'
ex3(1000), ex3(-100)

(1000, 'negative')

In [122]:
# ex4. 점수를 입력받아 점수가 100점이하80점이상은 A팀, 60점이상은 B팀, 60점미만은 재시험.
#      그외는 유효하지 않음
ex4 = lambda score : "A팀" if 80<=score<=100 else\
                    "B팀" if 60<=score<80 else\
                    "재시험" if 0<=score<60 else\
                    "유효하지 않음"
ex4(120), ex4(90), ex4(70), ex4(50)

('유효하지 않음', 'A팀', 'B팀', '재시험')

In [ ]:
# ex5. safe_index를 람다식으로
def safe_index(vactor, data):
    if data lst: # lst안에 data 있는지 여부
        return lst.index(data)
    else:
        return -1